body{
	font-family: Arial, sans-serif;
	margin: 0;
}
.settingImage{
    max-height: 60px;
    margin: 9px;
}
/* header {
	background-color: #423f3f;
	color: #fff;
	padding: 10px;
} */
table {
    border-collapse: collapse;
    width: 40%;
    margin: 40px;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #dddddd;
}
.talentTest{
    background-image: url(./assets/img/bgFinal.jpg);
    background-size: cover;
    height: 90vh;
    margin: 0px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* padding: 20px; */
    /* display: flex;
    flex-direction: column;
    justify-content: flex-start; */
}
.talentTestH1{
    color: #0b2341;
    font-size: 26px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}


.talentTestH2{
    /* text-decoration: underline; */
    color: black;
    margin-bottom: 20px;
}
.content{
    margin: 10px;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    padding: 20px;
    width: 60%;
    border-radius: 30px;
    animation-delay: 250ms;
}
.contentH1{
    font-weight: bold;
    font-family: Arial, sans-serif;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    font-size: 40px;
}
.contentPara{
    font-weight: bold;
    font-family: Arial, sans-serif;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    text-align: left;
}
.contentP{
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: aliceblue;
}
.regestration{
    margin: 15px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    position: relative;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    padding: 20px;
    background-color: aliceblue;
}
.centering{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.regesterP{
    font-weight: bold; */
    font-weight: 500;
    font-family: Arial, sans-serif;
    color: #423f3f;
}
.paraContent{
    display: flex;
    flex-wrap: wrap;
}
.regestrationContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.imageContent{
    display: flex;
    flex-wrap: wrap;
    /* display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit,minmax(100px,1fr)); */
}
.imageSetting{
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin: 10px;
    animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}
.imagePoster{
    width: 1000px;
}
.settingbody{
    padding: 30px;
}

@media (max-width:767px){
    .talentTest{
        background-image: url(./assets/img/mobileViewTalentTest1.jpg);
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .contentH1{
        font-weight: bold;
        font-family: Arial, sans-serif;
        -webkit-animation-delay: 0.4s;
        animation-delay: 0.4s;
        font-size: 20px;
        text-align: left;
        margin-bottom: 10px;
    }
    .contentPara{
        /* font-weight: bold; */
        font-family: Arial, sans-serif;
        -webkit-animation-delay: 0.4s;
        animation-delay: 0.4s;
        text-align: left;
        font-size: 10px;
    }
    .imagePoster{
        width: 50vh;
    }
    .settingbody{
        padding: 0px;
    }
    .regestration{
        margin: 10px;
        /* display: flex;
        flex-direction: column; */
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        /* overflow: hidden;
        position: relative; */
        -webkit-animation-delay: 0.4s;
        animation-delay: 0.4s;
        padding: 10px;
        background-color: aliceblue;
    }
    .regestrationContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .imageSetting{
        width: 50vh;
        display: flex;
        flex-wrap: wrap;
        border-radius: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        margin: 10px;
        animation: fadeIn 5s;
      -webkit-animation: fadeIn 5s;
      -moz-animation: fadeIn 5s;
      -o-animation: fadeIn 5s;
      -ms-animation: fadeIn 5s;
    }
}



/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info-box {
    color: #0b2341;
    text-align: center;
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 20px 0 30px 0;
    background: #fff;
}
.contact .info-box i {
    font-size: 32px;
    color: #ed502e;
    border-radius: 50%;
    padding: 8px;
    border: 2px dotted #fbdad2;
}
.contact .info-box h3 {
    font-size: 20px;
    color: #777777;
    font-weight: 700;
    margin: 10px 0;
}
  
.contact .info-box p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}
  
.contact .php-email-form {
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 30px;
    background: #fff;
}
  
.contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
}
  
.contact .php-email-form .error-message br+br {
    margin-top: 25px;
}
  
.contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}
  
.contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
}
  
.contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
}
  
  .contact .php-email-form input,
  .contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    border-radius: 4px;
  }
  
  .contact .php-email-form input:focus,
  .contact .php-email-form textarea:focus {
    border-color: #ed502e;
  }
  
  .contact .php-email-form input {
    padding: 10px 15px;
  }
  
  .contact .php-email-form textarea {
    padding: 12px 15px;
  }
  
  .contact .php-email-form button[type=submit] {
    background: #ed502e;
    border: 0;
    padding: 10px 30px;
    border-radius: 4px;
    color: #fff;
    transition: 0.4s;
  }
  
  .contact .php-email-form button[type=submit]:hover {
    background: #ef6445;
  }
  
  @-webkit-keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  /*--------------------------------------------------------------
  # Breadcrumbs
  --------------------------------------------------------------*/
  .breadcrumbs {
    padding: 15px 0;
    background: #f6f9fd;
    min-height: 40px;
    margin-top: 82px;
  }
  
  @media (max-width: 992px) {
    .breadcrumbs {
      margin-top: 74px;
    }
  }
  
  .breadcrumbs h2 {
    font-size: 28px;
    font-weight: 600;
    color: #0b2341;
  }
  
  .breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0 0 10px 0;
    margin: 0;
    font-size: 14px;
  }
  
  .breadcrumbs ol li+li {
    padding-left: 10px;
  }
  
  .breadcrumbs ol li+li::before {
    display: inline-block;
    padding-right: 10px;
    color: #123a6d;
    content: "/";
  }
  
  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
  #footer {
    background: #071527;
    padding: 0 0 10px 0;
    color: #fff;
    font-size: 14px;
  }
  
  #footer .footer-top {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
  }
  /* .rowas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  } */
  
  #footer .footer-top .footer-info {
    margin-bottom: 15px;
    background: #05101e;
    border-top: 4px solid #ed502e;
    text-align: center;
    padding: 20px 10px;
    margin-right: 80px;
  }
  
  #footer .footer-top .footer-info h3 {
    font-size: 24px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
  }
  
  #footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
  }
  .social-links{
    display: flex;
    margin-top: 0px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .imagefotter{
    width: 200px;
    margin-top: 20px;
    border-color: white;
    border-width: 10px;
    border-style: solid;
  }
  
  
  .social-links a {
    font-size: 18px;
    display: inline-block;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin: 10px;
    border-radius: 4px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    background: #0a1e38;
  }
  
  .social-links a:hover {
    color: #fff;
    background: #ed502e;
    text-decoration: none;
  }
  
  #footer .footer-top h4 {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    
    padding-bottom: 12px;
  }
  #footer .logo img {
    max-height: 60px;
    margin: 9px;
  }
  
  #footer .footer-top .footer-links {
    margin-bottom: 10px;
  }
  
  #footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #ef6445;
    font-size: 18px;
    line-height: 1;
  }
  
  #footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  
  #footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
  }
  
  #footer .footer-top .footer-links ul a {
    color: #fff;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
  }
  
  #footer .footer-top .footer-links ul a:hover {
    color: #ef6445;
  }
  
  #footer .footer-top .footer-newsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 4px;
  }
  
  #footer .footer-top .footer-newsletter form input[type=email] {
    border: 0;
    padding: 4px;
    width: calc(100% - 110px);
  }
  
  #footer .footer-top .footer-newsletter form input[type=submit] {
    position: absolute;
    top: 0;
    right: -2px;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px 2px 20px;
    background: #ed502e;
    color: #fff;
    transition: 0.3s;
    border-radius: 0 4px 4px 0;
  }
  
  #footer .footer-top .footer-newsletter form input[type=submit]:hover {
    background: #ef6445;
  }
  
  #footer .copyright {
    border-top: 1px solid #0f2f57;
    text-align: center;
    padding-top: 30px;
  }
  .row12{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  #footer .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #fff;
  }
  
  @media (max-width: 575px) {
    #footer .footer-top .footer-info {
      margin: -20px 0 30px 0;
    }
  }
  